<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyRFIDreader"
        tools:targetApi="31">

        <!-- Новая LauncherActivity -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyRFIDreader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Старая MainActivity без статуса лаунчера -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyRFIDreader">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <!-- SettingsActivity (новый экран настроек) -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyRFIDreader" />

        <activity
            android:name=".TestActivity"
            android:exported="false" />

        <activity
            android:name=".Test2Activity"
            android:exported="false" />

        <activity
            android:name=".InstructionActivity"
            android:exported="false" />

        <activity
            android:name=".LongExperimentActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>